<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>portfolio</title>
</head>
<body>

<main class="main">
<!--section1 home-->

<!--end of section1 home-->




<!--section2 About-->
<!--end of section2 About-->




<!--section3 resume-->
<!--end of section3 resume-->




<!--section4 skills-->
<!--end of section4 skills-->




<!--section5 contact-->
<!--end of section5 contact-->

</main>



</body>
</html>